* surprise library is an easy-to-use library for recommendation systems.

In [5]:
#Importing the necessary libraries
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
import pandas as pd

In [6]:
reader = Reader()
data = pd.read_csv("D:\\SLIIT\\3rd year 2nd sem\\Information Retrieval and Web Analytics\\Coding\\ratings_Beauty.csv")
data.head(10)

           UserId   ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  0205616461     5.0  1369699200
1  A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2  A1Z513UWSAAO0F  0558925278     5.0  1404691200
3  A1WMRR494NWEWV  0733001998     4.0  1382572800
4  A3IAAVS479H7M7  0737104473     1.0  1274227200
5   AKJHHD5VEH7VG  0762451459     5.0  1404518400
6  A1BG8QW55XHN6U  1304139212     5.0  1371945600
7  A22VW0P4VZHDE3  1304139220     5.0  1373068800
8  A3V3RE4132GKRO  130414089X     5.0  1401840000
9  A327B0I7CYTEJC  130414643X     4.0  1389052800

In [7]:
data1 = Dataset.load_from_df(data[['UserId','ProductId','Rating']],reader)
svd = SVD()
cross_validate(svd,data1,measures=['RMSE','MAE'],cv=5) #cv-cross validate=5

{'test_rmse': array([1.24970998, 1.24975711, 1.24921012, 1.248802  , 1.2497823 ]),
 'test_mae': array([0.97752211, 0.97712968, 0.97692592, 0.97629557, 0.97763095]),
 'fit_time': (25.05053424835205,
  23.96475124359131,
  24.04049277305603,
  24.840331077575684,
  22.97307825088501),
 'test_time': (2.6532187461853027,
  2.9854652881622314,
  1.8983547687530518,
  2.744063377380371,
  1.8704187870025635)}

In [9]:
trainset = data1.build_full_trainset()
svd.fit(trainset)

In [12]:
data[data['UserId']=='A39HTATAQ9V7YF']

                 UserId   ProductId  Rating   Timestamp
0        A39HTATAQ9V7YF  0205616461     5.0  1369699200
899125   A39HTATAQ9V7YF  B002OVV7F0     3.0  1369699200
969482   A39HTATAQ9V7YF  B0031IH5FQ     5.0  1369699200
1499680  A39HTATAQ9V7YF  B006GQPZ8E     4.0  1369699200

In [13]:
svd.predict('AKJHHD5VEH7VG','0558925278')#predicted rating is 4.019

Prediction(uid='AKJHHD5VEH7VG', iid='0558925278', r_ui=None, est=4.019391815346387, details={'was_impossible': False})