In [12]:
#Importing the necessary libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB, BernoulliNB,CategoricalNB,ComplementNB,MultinomialNB
from sklearn.metrics import confusion_matrix, accuracy_score

In [6]:
#Loading the dataset
data = pd.read_csv('D:\\SLIIT\\3rd year 2nd sem\\Information Retrieval and Web Analytics\\Coding\\Social_Network_Ads.csv')
data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [8]:
#Exploring the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          91 non-null     int64
 1   Gender           91 non-null     object
 2   Age              91 non-null     int64
 3   EstimatedSalary  91 non-null     int64
 4   Purchased        91 non-null     int64
dtypes: int64(4), object(1)
memory usage: 3.7+ KB

In [9]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [14]:
x = data.iloc[:, [2,3]].values
y = data.iloc[:,-1].values

In [15]:
#Splitting the dataset into training and testing
X_train, X_test, Y_train,Y_test = train_test_split(x,y,test_size=0.20,random_state=0)

In [16]:
#Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
classifier_Gaussian = GaussianNB()
classifier_Gaussian.fit(X_train,Y_train)

GaussianNB()

In [18]:
classifier_Bernoulli = BernoulliNB()
classifier_Bernoulli.fit(X_train,Y_train)

BernoulliNB()

In [22]:
#Predictions
y_pred_Gaussian = classifier_Gaussian.predict(X_test)

In [23]:
y_pred_Bernoulli = classifier_Bernoulli.predict(X_test)

In [25]:
#Checking the accuracy
ac_Gaussian = accuracy_score(Y_test,y_pred_Gaussian)

In [27]:
ac_Gaussian * 100

100.0

In [28]:
ac_Bernoulli = (accuracy_score(Y_test,y_pred_Bernoulli)) * 100

In [29]:
ac_Bernoulli #GaussianNB has a higher accuracy than BernoulliNB

78.94736842105263

In [30]:
cm_Gaussian = confusion_matrix(Y_test,y_pred_Gaussian)
cm_Gaussian

array([[15,  0],
       [ 0,  4]], dtype=int64)

In [31]:
cm_Bernoulli = confusion_matrix(Y_test,y_pred_Bernoulli)
cm_Bernoulli

array([[15,  0],
       [ 4,  0]], dtype=int64)