In [2]:
#Importing the necessary libraraies
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
#Sentences
sentence1 = 'I love football'
sentence2 = 'Messi is a great football player'
sentence3 = "Messi has won several Ballon d'Or awards"

In [4]:
docs = [sentence1, sentence2, sentence3]
print(docs)

['I love football', 'Messi is a great football player', "Messi has won several Ballon d'Or awards"]

In [5]:
vec = CountVectorizer() #Convert a collection of text documents to a matrix of token counts.
X = vec.fit_transform(docs)

In [6]:
data = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
data

C:\Users\binur\anaconda3\envs\tfradeon\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,awards,ballon,football,great,has,is,love,messi,or,player,several,won
0,0,0,1,0,0,0,1,0,0,0,0,0
1,0,0,1,1,0,1,0,1,0,1,0,0
2,1,1,0,0,1,0,0,1,1,0,1,1