In [6]:
#Importing the necessary libraries
import textmining

In [7]:
tdm = textmining.TermDocumentMatrix()

In [8]:
#Sentences
sentence1 = 'I love football'
sentence2 = 'Messi is a great football player'
sentence3 = "Messi has won several Ballon d'Or awards"

In [9]:
#Adding the documents
tdm.add_doc(sentence1)
tdm.add_doc(sentence2)
tdm.add_doc(sentence3)

In [10]:
tdm1 = tdm.to_df(cutoff=0)
tdm1

,i,love,football,messi,is,a,great,player,has,won,several,ballon,d,or,awards
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,1,1,1,1,1,1,1